* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e2eafc;
}
  
h1, h2, h3 {
  text-align: center;
  align-items: center;
  font-weight: 700;
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}

img {
  border-radius: 15px;  
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
}

a {
  display: inline-block;
  background-color: #ef233c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}


a:hover {
  color: white;
  background-color: black;
}

.cen a {
  margin-left: 2vw;
}

.cen {
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.qua {
  width: 91%;
  justify-content: center;
}

.order {
  display: flex;
  justify-content: center;
}

.order a {
  padding-left: 5vw;
  padding-right: 5vw;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  margin: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.inline {
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-top: 1vh;
}

.cen {
  justify-content: center;
}

.card button {
  display: flex;
  background-color: #ef233c;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding: 15px 20px;
  border-radius: 20px;
  border: 0;
  margin-bottom: 0.5vh;
  text-decoration: none;
  font-size: 18px;  
  margin-left: 1vw;
}

.card button:hover {
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: black;
  background-color: white;
  transition: 0.5s;
}

.addMin {
  display: flex;
  justify-content: space-around;
}

.addMin button {
  display: flex;
  background-color: #ef233c;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding: 15px 20px;
  border-radius: 20px;
  border: 0;
  margin-bottom: 0.5vh;
  text-decoration: none;
  font-size: 18px;  
  margin-left: 1vw;
}

.addMin button:hover {
  margin-top: 0;
  margin-bottom: 0.5vh;
  color: black;
  background-color: white;
  transition: 0.5s;
}

.left {
  float: left;
  margin-left: 20px;
  width: 67%;
}

.right {
  display: flex;
  float: right;
}

.left a, .right a {
  margin-left: 10px;
  padding-top: 20px;
  height: 100%;
}

.food {
  display: block;
  justify-content: space-between;
}

.food img {
  margin-left: 4px;
  width: 30vh;
  height: 30vh;
}

.Gj, .Pb, .South{
  display: inline-block;
  width: 97%;
  height: 530px;
  padding: 20px;
  background-color: #faedcd;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 3vh;
}

.title p {
  text-align: center;
}

.cards {
  padding: 18px;
  padding-left: 0;
  padding-bottom: 10px;
  display: flex;
  border-radius: 10px;
  flex-wrap: no-wrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.cards:hover {
  padding: 18px;
  padding-left: 0;
  padding-bottom: 10px;
  background-color: #e3d5ca;
  transition: 0s;
}

.card {
  border-radius: 15px;
  margin: 2vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 3px;
  text-align: center;
}

.card a {
  margin: 1vh;
}

.card p {
  color: black;
  font-size: 25px;
}

.card:hover {
  background-color: black;
}

.card a:hover {
  color: black;
  background-color: white;
}

.card:hover p, .card:hover h3{
  padding: 5px;
  color: white;
}

.end {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.end:hover {
  background-color: #bbd0ff;
}

.extra {
  margin-left: 2vh;
}
  
